body {
    font-family: 'Raleway';
    font-style: normal;
}
.cabecalhoPrincipal {
    background-color: #F5F5F5;
}

.cabecalhoPrincipal-logo {
    /* Vector */
    color: #464646;
    /* Preto/100% */
    background-color: #F5F5F5;
}

.cabecalhoPrincipal-home {
    font-weight: 700;
    font-size: 16px;
    /* identical to box height */
    /* Preto/100% */
    color: #464646;
    /* Inside auto layout */
    background: #F5F5F5;
    margin: 0 12 0 0;
}

.cabecalhoPrincipal-nav {
    width: auto;
    height: 12px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    /* Preto/100% */
    color: #464646;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 0 0 10;
 }

.cabecalhoPrincipal-nav-link {
    padding: 0 0 0 10px;
}

.menuPrincipal-apresentacao {
    width: 751px;
    height: 122px;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    /* Preto/100% */
    color: #464646;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.menuPrincipal-texto{
    width: 751px;
    height: 52px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    /* Preto/100% */
    color: #464646;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.portifolio-foto{
    width: 368px;
    height: 368px;
    background: url(evaldo1.jpg);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    border-color: #fff;
}
.sobremim{
    /* Frame 6 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 10px;
    width: 1440px;
    height: 383px;
    /* Azul/10% */
    background: #EAF2FD;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.formacoes-e-cursos{
    /* Experiencia area */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px;
    gap: 32px;
    width: 1440px;
    height: 581px;
    /* Azul/10% */
    background: #EAF2FD;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.formulario-contato{
    /* Contato */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 10px;
    width: 1440px;
    height: 788px;
    /* Azul/10% */
    background: #EAF2FD;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
